<footer>
        <div class="content">
            <div class="left box">
                <div class="upper">
                    <div class="topic">KASA KAI मुंबई</div>
                    <p>We make people gather over chai, coffee or drinks & discuss books, epics; watch matches, movies
                        or TV shows; or compete for board game supremacy! Started in Mumbai, we now have our supporters’
                        groups in 10 cities across India.</p>
                </div>
                <div class="lower">
                    <div class="topic">Contact us</div>
                    <div class="address">
                        <a href="#"><i class="fas fa-phone-volume"></i>61, RAMCHANDRA LANE, MALAD WEST, MUMBAI,
                            MAHARASTRA,
                            INDIA </a>
                    </div>
                    <div class="phone">
                        <a href="#"><i class="fas fa-phone-volume"></i>+91 99309 31616</a>
                    </div>
                    <div class="email">
                        <a href="#"><i class="fas fa-envelope"></i>contact@kasakaimumbai.com</a>
                    </div>
                </div>
            </div>
            <div class="middle box">
                <div class="topic">Useful Links</div>
                <div><a href="#">Home</a></div>
                <div><a href="#">Events</a></div>
                <div><a href="#">About Us</a></div>
                <div><a href="#">Term & Conditions</a></div>
                <div><a href="#">Privacy policy</a></div>
                <div><a href="#">Blog</a></div>
            </div>
            <div class="right box">
                <div class="topic">Our Newsletter</div>
                <p>To get timely updates of our events & screenings, subscribe to our mail-list.</p>
                <form action="#">
                    <input type="text" placeholder="Enter email address">
                    <input type="submit" name="" value="Send">
                    <div class="media-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright © 2021 <a href="#"><b>KASA KAI </b>मुंबई.</a> All Rights Reserved.</p>
        </div>
    </footer>