{% load static %}

<nav>
        <div class="menu-icon">
            <span class="fas fa-bars"></span>
        </div>
        <div class="logo">
            <a href="/"><img src="{% static './images/logo.png' %}" alt="Kasa-Kai-Logo"></a>
        </div>
        <div class="nav-items">
            <li>
                <label for="btn-1" class="show">COMMUNITY +</label>
                <a href="#">COMMUNITY
                    <i class="fas fa-chevron-down"></i>
                </a>
                <input type="checkbox" id="btn-1">
                <ul>
                    <li><a href="{% url 'events' %}">All Events</a></li>
                    {% for Community in links %}
                        <li><a href="{{ Community.get_url }}">{{ Community.Community_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li><a href="{% url 'events' %}">EVENTS</a></li>
            <li><a href="#">BLOGS</a></li>
        </div>
        <div class="search-icon">
            <span class="fas fa-search"></span>
        </div>
        <div class="cancel-icon">
            <span class="fas fa-times"></span>
        </div>
        <form action="{% url 'search' %}" class="search" method ='GET'>
            <input type="text" class="search-data" placeholder="Search" required name ="keyword">
            <button type="submit" class="fas fa-search"></button>
        </form>
        <div class="user">
            {% if user.is_authenticated %}
                <div class="name">
                    <strong>Welcome, {{ user.username }}!</strong>
                </div>
                <div class="auth">
                    <a href="">Dashboard</a><span> |</span>
                    <a href="{% url 'Logout' %}">Log Out</a>
                </div>
            {% else %}
                <div class="auth">
                    <a href="{% url 'Login' %}">Log In</a><span> |</span>
                    <a href="{% url 'Signup' %}">Sign Up</a>
                </div>
            {% endif %}
        </div>
        <div class="shopping">
        <a href="{% url 'cart' %}">
            <i class="fas fa-cart-plus"></i>
            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
        </a>
        </div>
    </nav>
    <script>
        $('.icon').click(function () {
            $('span').toggleClass("cancel");
        });
        const menuBtn = document.querySelector(".menu-icon span");
        const searchBtn = document.querySelector(".search-icon");
        const cancelBtn = document.querySelector(".cancel-icon");
        const items = document.querySelector(".nav-items");
        const form = document.querySelector("form");
        menuBtn.onclick = () => {
            items.classList.add("active");
            menuBtn.classList.add("hide");
            searchBtn.classList.add("hide");
            cancelBtn.classList.add("show");
        }
        cancelBtn.onclick = () => {
            items.classList.remove("active");
            menuBtn.classList.remove("hide");
            searchBtn.classList.remove("hide");
            cancelBtn.classList.remove("show");
            form.classList.remove("active");
            cancelBtn.style.color = "#13b1cd";
        }
        searchBtn.onclick = () => {
            form.classList.add("active");
            searchBtn.classList.add("hide");
            cancelBtn.classList.add("show");
        }
    </script>